{% if page.thumbnail.src is empty %}
    <article id= "article-{{ page.id }}" class="clearfix" data-anchor="{{ page.slug }}">
{% else %}
    <article id= "article-{{ page.id }}" class="clearfix" data-anchor="{{ page.slug }}" style="background-image:url( {{ page.thumbnail.src }})">
{% endif %}

    {% if page.id == '10' %}

        <div class="container">
            <div class="row">
                <div class="title-container"><h2>{{ page.post_title }}</h2></div>
            </div>
            <div class="row">
                <div class="left-container">
                    {% for item in page.get_field('items')%}
                        {% if loop.first %}
                            <div class="items-container">
                        {% elseif loop.index == 4 %}
                            </div>
                            <div class="items-container">
                        {% endif %}
                        <div>
                            <h3>{{ item.title }}</h3>
                            <span>{{ item.subtitle }}</span>
                        </div>
                        {% if loop.last %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="right-container">
                    <div><p>{{ page.post_content }}</p></div>
                </div>
            </div>
        </div>
    {% elseif page.id == 18 %}
    <div class="container">

        <div class="row">

            <div class="left-container">
                <div class="title-container"><h2>{{ page.post_title }}</h2></div>
                <div><p>{{ page.post_content }}</p></div>
            </div>
            {% if page.get_field('person') is defined  %}
                <div class="right-container">
                    <div class="person-container">
                    {% for person in page.get_field('person')%}
                        <div class="person-content">
                            <div class="person-image-right">
                                <img src="{{ person.image }}" alt="">
                            </div>
                            <div class="person-text">
                                <span> {{ person.name }}</span>
                                <span> {{ person.ocupation }}</span>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    {% else %}
        <div class="container">
        <div class="row">
            <div class="left-container">
                <h2>{{ page.post_title }}</h2>
                <div><p>{{ page.post_content }}</p></div>
            </div>
            {% if page.get_field('images') is defined  %}
                <div class="right-container">
                    {% for image in page.get_field('images')%}

                        <div class="rax-image-right">
                            <img src="{{ image["image"] }}" alt="">
                        </div>
                        {% if not loop.last %}
                            <div class="rax-cross"></div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        </div>
    {% endif %}

</article>
