{% if page.thumbnail.src is empty and page.id != '118' %}

<article id="{{ page.slug }}" class="article-{{ page.id }} clearfix">

    {% elseif page.id == '118' %}

    <article id="{{ page.slug }}" class="parallax article-{{ page.id }} clearfix">
        <div class="background" style="background-image:url( {{ page.thumbnail.src }})"></div>


    {% elseif page.id == '122' %}

        <article id="{{ page.slug }}" class="parallax article-{{ page.id }} clearfix">

            <div class="background" style="background-image:url( {{ page.thumbnail.src }})"></div>
            <div class="timeline visible-xs" style="background-image:url( {{ page.get_field('mobile_timeline').url }})"></div>
            <div class="timeline hidden-xs" style="background-image:url( {{ page.get_field('desktop_timeline').url }})"></div>
        {% else %}

    <article id="{{ page.slug }}" class="parallax article-{{ page.id }} clearfix">
        <div class="background" style="background-image:url( {{ page.thumbnail.src }})"></div>
        {% endif %}
        {% if page.id == '7' %}
            <div class="container-fluid">
                <div class="row">
                    <div class="left-container">
                        <h2>{{ page.get_field('title') |striptags('<strong><br>') }}</h2>
                        <div class="main-text-container"><p>{{ page.post_content }}</p></div>
                        {% if page.get_field('list') is defined %}
                            <div class="list-container">
                                {% for list in page.get_field('list') %}
                                        {% if loop.first %}
                                            <div class="list-row">
                                        {% elseif loop.index == 6 %}
                                            </div>
                                            <div class="list-row">
                                        {% endif %}
                                            <div class="list-content">
                                                <div class="list-number">
                                                    <span>
                                                        {{ list["number"] }}
                                                    </span>
                                                </div>
                                                <div class="list-text">
                                                    <span>
                                                        {{ list["text"] }}
                                                    </span>
                                                </div>
                                            </div>
                                        {% if loop.last %}
                                        </div>
                                        {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% elseif page.id == '10' %}
            <div class="container-fluid">
                <div class="row">
                    <div class="title-container">
                        <h2>{{ page.get_field('title') |striptags('<strong><br>') }}</h2>
                    </div>

                    {#<div class="left-container">#}
                        {#<div><p>{{ page.post_content }}</p></div>#}
                    {#</div>#}
                    <div class="right-container">
                        {% for item in page.get_field('items') %}
                            {% if loop.first %}
                                <div class="items-container">
                            {#{% elseif loop.index == 4 %}#}
                                {#</div>#}
                                {#<div class="items-container">#}
                            {% endif %}
                            <div>
                                <h3>{{ item.title }}</h3>
                                <span class="item__label">{{ item.subtitle }}</span>
                            </div>
                            {% if loop.last %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

        {% elseif page.id == 18 %}
            <div class="container-fluid">

                <div class="row">

                    <div class="left-container">
                        <div class="title-container">
                            <h2>{{ page.get_field('title') |striptags('<strong><br>') }}</h2>
                        </div>
                        <div class="text-container"><p>{{ page.post_content }}</p></div>
                    </div>
                    {% if page.get_field('person') is defined %}
                        <div class="right-container">
                            <div class="person-container">
                                {% for person in page.get_field('person') %}
                                    <div class="person-content">
                                        <div class="person-image-right">
                                            <img src="{{ person.image }}" alt="">
                                        </div>
                                        <div class="person-text">
                                            <span class="person--name"> {{ person.name }}</span>
                                            <span class="person--job"> {{ person.ocupation }}</span>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% elseif page.id == 105 %}
            {% include "templates/page-105.twig" %}
        {% else %}
            <div class="container-fluid">
                <div class="row">
                    <div class="left-container">
                        <h2>{{ page.get_field('title') |striptags('<strong><br>') }}</h2>
                        <div><p>{{ page.post_content }}</p></div>
                    </div>
                    {% if page.get_field('images') is defined %}
                        <div class="right-container">
                            {% for image in page.get_field('images') %}

                                <div class="rax-image-right">
                                    <img src="{{ image["image"] }}" alt="">
                                </div>
                                {% if not loop.last %}
                                    <div class="rax-cross"></div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </article>