<header class="banner">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand nav__brand" href="{{ function('home_url', '/') }}">{{ function('bloginfo', 'name') }}</a>
        </div>
        <div class="nav collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul>
                {% for item in menu.get_items %}
                    <li class="nav__item {{ item.classes | join(' ') }}"><a class="nav__link"
                                                                            href="{{ item.get_link }}">{{ item.title }}</a>
                        {% if item.get_children %}
                            <ul class="nav-drop">
                                {#{{ dump(item.get_children) }}#}
                                {% for child in item.get_children %}
        {#{{ dump(child.custom._menu_item_object_id) }}#}
        
                                    <li class="nav-drop__item"><a
                                                href="{{ item.get_link ~'#'~ child.custom._menu_item_object_id }}">{{ child.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
                <li class="nav__item nav__item--donate"><a class="nav__link" href="/#donate">Jetzt spenden</a></li>
            </ul>
        </div>
    </div>
</header>
