{% extends "templates/base.twig" %}

{% block content %}

    {#<div class="section section--logo">#}
        {#<img src="{{ theme.link }}/dist/images/logo_next_big.png">#}
    {#</div>#}
    {% for page in pages %}

        {% include "templates/content.twig" with {post: page}  %}

    {% endfor %}

    <div class="section contact" id="contact">
        <div class="container-fluid">
            <div class="form-container">
                <div class="title-container"><h2>
                        {% if lang_current == 'de' %}
                            Kontakt
                            {% else  %}
                                Contact
                        {% endif %}
                    </h2></div>
                {{ contact }}
                <a href="{{ (options['download_file']['url']) }}" download="{{ (options['download_file']['url']) }}" class="download-link"><span><i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>{{ (options['download_text']) }}</span></a>
            </div>
        </div>
    </div>
    <div class="other-pages-container">
        {% for page in other_pages %}
            <div id="other-page-{{ page.id }}">
            <h2>{{ page.post_title }}</h2>
            <div><p>{{ page.post_content }}</p></div>
            </div>
        {% endfor %}
    </div>

{% endblock %}

{#{% block sidebar %}#}

    {#{% include "templates/sidebar.twig" %}#}

{#{% endblock %}#}