<section class="middle-section middle-section-{{ post.id }}">
    <div class="title-container" style="background-image: url({{ post.get_field('care_background_image').url }})">
        <div class="middle-section-heading">
            <h3>{{ post.get_field('care_form_title') }}</h3>
        </div>
    </div>
    <a class="button-collapse" href=""><i class="fa fa-caret-down" aria-hidden="true"></i></a>
    <div class="form-container">
        {% if post.get_field('care_section_image')  %}
            <div class="form-title">
                <img src="{{ post.get_field('care_section_image').url }}" alt="">
            </div>
        {% endif %}
        <div class="form-content clearfix">
            {% if post.id == '32' %}
                {% filter shortcodes %}
                    {{ post.get_field('form_shortcode') }}
                {% endfilter %}
            {% elseif post.id == '71'%}
                <div class="dropdown-container">

                    <div class="oil-finder-form">
                        <div class="oil-finder-form-title">
                            <h2>Oil Finder</h2>
                        </div>
                        <div class="dropdown-1 dropdown-field clearfix">
                            <span class="dropdown-label">Category</span>
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Choose a Category
                                </button>
                            <ul class="dropdown-menu">
                                <li><a href="#" class="dropdown-1">Car</a></li>
                                <li><a href="#" class="dropdown-1">Motorcyle</a></li>
                            </ul>
                        </div>
                        <div class="dropdown-2 dropdown-field clearfix">
                            <span class="dropdown-label">Manufacturer</span>
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Choose a Manufacturer
                                </button>
                            <ul class="dropdown-menu">
                                <li><a href="#" class="dropdown-2" >BMW</a></li>
                                <li><a href="#" class="dropdown-2" >Audi</a></li>
                                <li><a href="#" class="dropdown-2" >Ford</a></li>
                            </ul>
                        </div>
                        <div class="dropdown-3 dropdown-field clearfix">
                            <span class="dropdown-label">Model</span>
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Choose a Model
                                </button>
                            <ul class="dropdown-menu ul-model-list">
                            </ul>
                        </div>
                        <div class="submit-button-motor">
                            <button class="oil-finder-submit">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
                <div class="oil-finder-lastscreen-container">
                    <div class="oil-finder-lastscreen clearfix">
                        <div>
                            <h3>RAKO<strong>MOTORS</strong> 10W-40</h3>
                            <span>is recommended for your car.</span>
                            <button class="oil-finder-return">Try again</button>
                        </div>
                    </div>
                </div>
            </div>
    </section>
            {% else %}
        </div>
    </div>
</section>
            {% endif %}