<section class="middle-section middle-section-{{ post.id }}">
        <div class="title-container" style="background-image: url({{ post.get_field('beverage_title_image').url }})">
            <div class="middle-section-heading">
                <h3>{{ post.get_field('beverage_title') }}</h3>
            </div>
        </div>
        <div class="button-collapse" ><i class="fa fa-caret-down" aria-hidden="true"></i></div>
        <div class="container-fluid" style="background-image: url({{ post.get_field('beverage_text_background').url }})">
            <div class="row">
                <div class="beverage-content-container" >
                    <div class="text-decoration-container">
                        <img src="{{ post.get_field('beverage_text_decoration').url }}" alt="">
                    </div>
                    <div class="beverage-content">
                        {{ post.content }}
                    </div>
                </div>
            </div>
        </div>
</section>