<section class="middle-section middle-section-{{ post.id }}">
    <div class="title-container" style="background-image: url({{ post.get_field('pharma_middle_section_background').url }})">
        <div class="middle-section-heading">
            <h3>{{ post.get_field('pharma_middle_section_title') }}</h3>
        </div>
    </div>
    <a class="button-collapse" href=""><i class="fa fa-caret-down" aria-hidden="true"></i></a>
    <div class="pharma-midsection-column-row row">
        {% for column in post.get_field('pharma_middle_section_columns') %}

            <div class="product-column-container">
                <div class="column-image">
                    <img src="{{ column['column_image'].url }}" alt="">
                </div>
                <div class="column-title"><h4>{{ column['column_title'] }}</h4></div>
                <div class="column-content">{{ column['column_text'] }}</div>
            </div>

        {% endfor %}
    </div>
    <div class="bottom-text-row row">
        <p>{{ post.get_field('pharma_middle_section_text') }}</p>
    </div>
</section>