{% extends "templates/base.twig" %}

{% block content %}

    {% for post in posts %}
    <section class="header-section" style="background-image:url( {{ post.get_field('product_image').url }} )" >
        <div class="product-image" ></div>
        <div class="container-fluid">
            <div class="row">

                <div class="banner-left" style="background-image: url({{ post.get_field('label_image').url }} );">
                </div>
                <div class="logo-image">
                    <img src="{{ post.get_field('logo_image').url }}" alt="">
                </div>
            </div>
            <div class="row">

                <div class="product-tagline">
                    {% for tagline in post.get_field('taglines') %}
                        <h3>{{ tagline.tagline_text }}</h3>
                        {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <section class="middle-section care-middle-section">
        <div class="title-container" style="background-image: url({{ post.get_field('care_background_image').url }})">
            <div class="middle-section-heading">
                <h3>{{ post.get_field('care_form_title') }}</h3>
            </div>
        </div>
        <a class="button-collapse" href=""><i class="fa fa-caret-down" aria-hidden="true"></i></a>
        <div class="form-container">
            <div class="form-title">
                <img src="{{ post.get_field('care_section_image').url }}" alt="">
            </div>
            <div class="form-content clearfix">
                {% filter shortcodes %}
                {{ post.get_field('form_shortcode') }}
                {% endfilter %}
            </div>
        </div>
    </section>

    <section class="product-detail">
        <div class="product-detail-title">
            <div class="container-fluid">
                <div class="row">
                    <h3>
                        {{ post.get_field('product_detail_title') }}
                    </h3>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="product-detail-image">
                    <img src="{{ post.get_field('product_detail_image').url }}" alt="">
                </div>
            </div>
            <div class="product-column-row row">
            {% for column in post.get_field('columns') %}

                <div class="product-column-container">
                    <div class="column-image">
                        <img src="{{ column['column_image'].url }}" alt="">
                    </div>
                    <div class="column-title"><h4>{{ column['column_heading'] }}</h4></div>
                    <div class="column-content">{{ column['column_text'] }}</div>
                </div>

            {% endfor %}
            </div>
        </div>
    </section>

    {% endfor %}

{% endblock %}